<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="supershop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="supershop.Properties.Settings.APOSSQLConnectionString"
      connectionString="Data Source=(local); Initial Catalog=APOSDB; User ID=sa;Password=sapass123!;"
      providerName="Sql.Data.MySqlClient" />
    <add name="supershop.Properties.Settings.psodbConnectionString"
      connectionString="data source=E:\Data_laptop_1\D_drive\G_Drive\Files_1\dotproject\Web\Codecany_project\Adv_POS\POS_Adv_Project_10_\POS_Source_Code\POS__SQLite\supershop\bin\x86\Debug\psodb.db;version=3;new=False;compress=True"
      providerName="System.Data.SQLite.EF6" />
    <add name="supershop.Properties.Settings.psodbConnectionString1"
      connectionString="Data Source=psodb.db;Version=3;New=False;Compress=True"
      providerName="System.Data.SQLite.EF6" />
    <add name="supershop.Properties.Settings.psodbConnectionString2"
      connectionString="data source=E:\Data_laptop_1\D_drive\G_Drive\Files_1\dotproject\Web\Codecany_project\Adv_POS\POS_Adv_Project_10_\POS_Source_Code\POS__SQLite\supershop\bin\x86\Debug\psodb.db"
      providerName="System.Data.SQLite.EF6" />
    <add name="supershop.Properties.Settings.AposMysqlConnectionString"
      connectionString="server=localhost; database=aposmysqldb; uid=root; PASSWORD=1234" />
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <supershop.Properties.Settings>
      <setting name="Language" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="WasFontownloaded" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UserID" serializeAs="String">
        <value />
      </setting>
      <setting name="UserName" serializeAs="String">
        <value />
      </setting>
    </supershop.Properties.Settings>
  </userSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.7.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.66.0" newVersion="1.0.66.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>